@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.add_button {
	display: flex;
	// grid-template-columns: 92px 1tr;
	align-items: center;
	gap: s.space(6);
	color: s.color(light);
	font-size: 24px;
}

.header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

